<div class="contacts_contain" id="contacts">
    <div class="contacts_left">
        <h1 class="h1_main">Контакты</h1>
    </div>
    <div class="contacts_right">
        <div class="block_content_container">
            <div class="contacts_text">
                <a href="tel:+79052122320"><h1 class="h1_standart">+7 905 212 23 20</h1></a>
                <h1 class="h1_standart">neva-da-band@yandex.ru</h1>
                <h1 class="h1_standart">Санкт-Петербург</h1>
            </div>
            <h1 class="h1_standart">Оставить заявку</h1>
            <form class="contacts_form" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <label class="" for="{{ form.name.id_for_label }}">
                    {{ form.name }}
                </label>
                <label class="" for="{{ form.phone.id_for_label }}">
                    {{ form.phone }}
                </label>
                <label class="" for="{{ form.question.id_for_label }}">
                    {{ form.question }}
                </label>
                <button class="form_button" type="submit" id="feedback">заказать</button>
            </form>
        </div>
        <a href="#up"><div class="up"></div></a>
    </div>
</div>