{% extends 'nevada_shop/base.html' %}

{% block content %}
    <div class="team_contain">
        {% for team in teams %}
            <div class="team_body">
                <div class="team_description">
                    <h1>{{ team.about_me }}</h1>
                    <p>{{ team.comment }}</p>
                </div>
                <div class="contain_team_photo">
                    <img src="{{ team.photo.url }}" class="team_photo">
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#up"><div class="up"></div></a>
{% endblock %}