{% load static %}
<!doctype html>
<html lang=ru>
<head>
    {% include 'nevada_shop/_links_and_meta_tags.html' %}
</head>
<body>
<div class="main_wraper" id="up">
    <div class="wrapper">
        <div class="container">
            <div class="nav">
                <a href="{% url 'home' %}"><h1 class="logo">NEVA-DA</h1></a>
                <div class="nav_linc mobile">
                    {% include 'nevada_shop/_nav_links.html' %}
                </div>
                <a class="tel mobile" href="tel:+79052122320">+7 905 212 23 20</a>
                <div class="burger_bottom"></div>
                {% include 'nevada_shop/_burger.html' %}
            </div>
        </div>
        <div class="container_center">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container_footer">
            <footer class="footer">
                <div class="foter_left">
                    <div class="footer_design">
                        <p>Дизайн - Андрей Вервайн</p>
                        <p>Все права защищены ©</p>
                    </div>
                    <div class="footer_nav">
                        {% include 'nevada_shop/_nav_links.html' %}
                    </div>
                    <div class="footer_contacts">
                        <p>Олеся Невская</p>
                        <a class="tel" href="tel:+79052122320">+7 905 212 23 20</a>
                    </div>
                </div>
                <div class="foter_right">
                    {% include 'nevada_shop/_social_network_links.html' %}
                </div>
            </footer>
        </div> 
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'nevada_shop/js/showing_content.js' %}"></script>
</body>
</html>
