{% load static %}
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title_html }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'nevada_shop/css/base.css' %}">
</head>
<body>
<div class="main_wraper" id="up">
    <div class="wrapper">
        <div class="container">
            <div class="nav">
                <a href="{% url 'home' %}"><h1 class="logo">NEVA-DA</h1></a>
                <div class="nav_linc">
                    <a href="#about">О нас</a>
                    <a href="#repertoire">Репертур</a>
                    <a href="#video">Видео</a>
                    <a href="#price">Цены</a>
                    <a href="#rider">Райдер</a>
                    <a href="#contacts">Контакты</a>
                </div>
                <a class="tel" href="tel:+79052122320">+7 905 212 23 20</a>
            </div>
        </div>
        <div class="container_center">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container_footer">
            <footer class="footer">
                <div class="foter_left">
                    <div class="footer_design">
                        <p>Дизайн - Андрей Вервайн</p>
                        <p>Все права защищены ©</p>
                    </div>
                    <div class="footer_nav">
                        <a href="#about">О нас</a>
                        <a href="#repertoire">Репертур</a>
                        <a href="#video">Видео</a>
                        <a href="#price">Цены</a>
                        <a href="#rider">Райдер</a>
                        <a href="#contacts">Контакты</a>
                    </div>
                    <div class="footer_contacts">
                        <p>Олеся Невская</p>
                        <a class="tel" href="tel:+79052122320">+7 905 212 23 20</a>
                    </div>
                </div>
                <div class="foter_right">
                    <a href="https://www.youtube.com/channel/UCbB_lbM8poF-ljxWS7nFDsg" target="_blank"><div class="youtube"></div></a>
                    <a href="https://vk.com/nevadaliveband" target="_blank"><div class="vk"></div></a>
                    <a href="https://www.instagram.com/neva_da_band/" target="_blank"><div class="insta"></div></a>
                    <a href="https://t.me/neva_da_band" target="_blank"><div class="telegram"></div></a>
                </div>
            </footer>
        </div> 
    </div>
</div>
<script src="{% static 'nevada_shop/js/showing_content.js' %}"></script>
</body>
</html>
