{% extends 'nevada_shop/base.html' %}

{% block content %}
    <div class="intro_contain">
        <div class="intro_top">
            <h1 class="h1_intro">NEVA-DA band</h1>
            <p class="p_intro">Лучшее музыкальное решение для вашего праздника</p>
            <a class="buttom" href="#contacts">заказать</a>
        </div>
        <div class="intro_bottom">
            {% include 'nevada_shop/_social_network_links.html' %}
        </div>
    </div>
    {% include 'nevada_shop/_about.html' %}
    {% include 'nevada_shop/_repertoire.html' %}
    {% include 'nevada_shop/_price.html' %}
    {% include 'nevada_shop/_rider.html' %}
    {% include 'nevada_shop/_contacts.html' %}
{% endblock %}