{% extends 'nevada_shop/base.html' %}

{% block content %}
    <div class="intro_contain">
        <div class="intro_top">
            <h1 class="h1_intro">NEVA-DA band</h1>
            <p class="p_intro">Лучшее музыкальное решение для вашего праздника</p>
            <a class="buttom" href="#">заказать</a>
        </div>
        <div class="intro_bottom">
            <a href="https://www.youtube.com/channel/UCbB_lbM8poF-ljxWS7nFDsg" target="_blank"><div class="youtube"></div></a>
            <a href="https://vk.com/nevadaliveband" target="_blank"><div class="vk"></div></a>
            <a href="https://www.instagram.com/neva_da_band/" target="_blank"><div class="insta"></div></a>
            <a href="https://t.me/neva_da_band" target="_blank"><div class="telegram"></div></a>
        </div>
    </div>
    {% include 'nevada_shop/_about.html' %}
    {% include 'nevada_shop/_repertoire.html' %}
    {% include 'nevada_shop/_video.html' %}
    {% include 'nevada_shop/_price.html' %}
    {% include 'nevada_shop/_rider.html' %}
    {% include 'nevada_shop/_contacts.html' %}
{% endblock %}