{% extends 'nevada_shop/base.html' %}

{% block content %}
    <div class="intro_contain">
        <div class="intro_top">
            <h1 class="h1_intro">NEVA-DA band</h1>
            <p class="p_intro">Лучшее музыкальное решение для вашего праздника</p>
            <a class="buttom" href="#">заказать</a>
        </div>
        <div class="intro_bottom">
            <div class="youtube" href="#"></div>
            <div class="vk" href="#"></div>
            <div class="insta" href="#"></div>
            <div class="telegram" href="#"></div>
        </div>
    </div>
    {% include 'nevada_shop/_about.html' %}
    {% include 'nevada_shop/_repertoire.html' %}
{% endblock %}