/* Обнуление */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    background-color: #000307;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}


/* Глобальные стили */

.h1_main{
    font: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
}


/* Главные контейнеры */

.main_wraper{
    height: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    min-width: 100%;
}
.container_center{
    min-width: 100%;
    flex: 1 1 auto;
}
.container_footer{
    min-width: 100%;
}


/* Навбар */

.nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px inset white;
}
.logo{
    font: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
}
.nav_linc{
    width: 578px;
    display: flex;
    justify-content: space-between;
}
.nav_linc a{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.2s linear;
}
.nav_linc a:hover{
    color: #A0A0A0;
}
.tel{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}


/* Интро */

.intro_contain{
    margin-top: 104px;
    height: 576px;
    background-image: url(../images/main_photo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h1_intro{
    font: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 116px;
}
.p_intro{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 101px;
}
.buttom{
    padding: 11px 56px;
    border: 1px inset white;
    color: white;
    transition: all 0.2s linear;
}
.buttom:hover{
    color: #000307;
    background-color: white;
}
.intro_bottom{
    width: 204px;
    display: flex;
    justify-content: space-between;
}
.intro_bottom div{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
.youtube{
    background-image: url(../images/youtubee.svg);
}
.vk{
    background-image: url(../images/vk.svg);
}
.insta{
    background-image: url(../images/instagram.svg);
}
.telegram{
    background-image: url(../images/telegram.svg);
}


/* О нас */

.about_contain{
    display: flex;
    justify-content: space-between;
    height: 1243px;
    margin-top: 250px;
    border-top: 1px inset white;
    border-bottom: 1px inset white;
}
.about_left .h1_main{
    margin-top: 80px;
}
.about_right{
    position: relative;
    width: 799px;
    border-left: 1px inset white;
    border-right: 1px inset white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_photo{
    width: 720px;
    height: 695px;
    margin-top: 80px;
}
.about_text{
    width: 720px;
    margin-top: 51px;
}
.about_text p{
    margin-bottom: 20px;
}
.more_button{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 70px;
    height: 70px;
    background-image: url(../images/details_before.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px inset white;
    border-radius: 50px;
    transition: all 0.2s linear;
}
.more_button:hover{
    background-image: url(../images/details_after.svg);
}


/* Футер */

.footer{
    height: 119px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px inset white;
}
.foter_left{
    width: 914px;
    display: flex;
    justify-content: space-between;
}
.footer_nav{
    width: 531px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_nav a{
    color: white;
    transition: all 0.2s linear;
}
.footer_nav a:hover{
    color: #A0A0A0;
}
.foter_right{
    width: 186px;
    display: flex;
    justify-content: space-between;
}
.foter_right div{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}